#title{
  background-color: grey;
  background-size: 10px;
  background-position: fixed;
  border: 5px solid black ;
  width: 100%;
  height: 150px;
  font-family: 'Montserrat Subrayada', sans-serif;
}
#name{
  color: black;
  font-size: 80px